asgiref==3.9.1
beautifulsoup4==4.13.4
cachetools==6.1.0
cffi==2.0.0
chardet==5.2.0
click==8.3.1
cryptography==46.0.3
decorator==5.2.1
Django==6.0.1
django-admin-honeypot-updated-2021==1.2.0
django-appconf==1.1.0
django-cleanup==9.0.0
django-compressor==4.5.1
django-cors-headers==4.7.0
django-cotton
django-extensions==4.1
django-filter==24.3
django-ipware==7.0.1
django-timezone-field
djangorestframework==3.16.1
gunicorn==23.0.0
orjson==3.11.1
packaging==25.0
pillow==11.1.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pycparser==2.23
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-ipware==3.0.0
rcssmin==1.1.2
redis==7.0.1
reportlab==4.2.5
rjsmin==1.2.2
shortuuid==1.0.13
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
wcwidth==0.2.14
whitenoise==6.11.0